
$mobile-width: 480px;
$tablet-width: 768px;
$wide-screens: 1920px;

@mixin responsive($media){
	@if $media == mobile{
		@media screen and (max-width: $mobile-width) { @content; }
	}
	@else if $media == tablet {
		@media screen and (max-width: $tablet-width) { @content; }
	}
	@else if $media == tablet-only {
		@media screen and (min-width: $mobile-width + 1) and (max-width: $tablet-width) { @content; }
	}
	@else if $media == desktop-only {
		@media screen and (min-width: $tablet-width + 1) { @content; }
	}
	@else if $media == wide-screens {
		@media screen and (min-width: $wide-screens) { @content; }
	}
}

