<div class="flag-container">
    <div class="flag-text">Novedades</div>
    <div class="flag-angled-corner"></div>
</div>

*{	margin: 0; padding: 0;}
body{ background: #ddd; padding: 15%;}

.flag-container {
    width: 100px;
    height: 20px;
    background: #FFAF00;
    display: flex;
}
.flag-text {
    width: calc(90% - 5px);
    height: 100%;
    background: #FFAF00;
    color: #FFFFFF;
    font-style: oblique;
    letter-spacing: 1px;
    padding: 2.5px 5px;
    display: inline-block;
}


.flag-angled-corner{
    width: calc(10% + 5px);
    height: 100%;
    background: #FFF;
    box-sizing: border-box;
    border-left: 10px solid #FFAF00;
    border-bottom: 25px solid transparent;
}

